[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Eraser
GenericName=Eraser
Name[fr_FR]=Effacement
Comment=Pernamently erase files and directories
Comment[de_DE]=Dateien und Verzeichnisse dauerhaft löschen
Comment[es_AR]=Borra permanentemente archivos y directorios
Comment[fr_FR]=effacer définitivement fichiers ou répertoires
Comment[it_IT]=Cancella in maniera definitiva file e cartelle
Comment[ja_JP]=ファイル・ディレクトリの永久的な消去
Comment[pl_PL]=Pernamentnie usuń pliki i katalogi
Comment[pt_BR]=Exclui de modo permanente arquivos e diretórios
Comment[pt_PT]=Elimina de modo permanente ficheiros e pastas
Comment[sv_SE]=Radera filer och kataloger permanent
Exec=/usr/bin/sparky-eraser
Icon=user-trash-full
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility;

